:root { 
--bluegray_900:#3d2e2e; 
--gray_400:#c8c8c8; 
--indigo_A700_7f:#0028ff7f; 
--black_900:#000000; 
--bluegray_100_84:#d9d9d984; 
--bluegray_100_7f:#d9d9d97f; 
--bluegray_900_4c:#3d2e2e4c; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--red_A700_7f:#ff00007f; 
}